{
  'menu': [
    {
      'label': 'Packages'
      'submenu': [
        'label': 'p5js-snippets'
        'submenu': [
          {
            'label': 'Open p5js Reference'
            'command': 'p5js-snippets:ref'
          }
        ]
      ]
    }
  ]
}